@charset "utf-8";

/*----------------------------------------------------
	common

----------------------------------------------------*/

/* base_font-size 1rem = 10px */
html {
  font-size: 62.5%;

  ::selection {background: rgb(235, 255, 0); color: #000;}
  ::-moz-selection {background: rgb(235, 255, 0); color: #000;}
}

//clearfix @include clearfix;
@mixin clearfix {
  &:after {
    content: " ";
    clear: both;
    display: block;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "futura-pt", helvetica, arial, a-otf-gothic-bbb-pr6n, "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", sans-serif; /* $base_font */
  font-weight: 400;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover{
    transition: all 0.3s ease;
    backface-visibility:hidden;
  }
  &:link{
    color: #000;
  }
  &:visited{
    color: #000;
  }
}

img{
  display: block;
  width: 100%;
  height: auto;
}

footer{
	font-size: 3.5rem;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	p{
		display: inline-block;
		background: #fff;
	}
  a{
    display: inline-block;
  }
	a.showf span.en{display:inline-block; }
	a.showf:hover span.en{ display:none; }
	a.showf span.jp{ display:none; }
	a.showf:hover span.jp{ display:inline-block; }

  .showf{
	opacity: 0;
	transform: translate(0,100px);
  transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .showf-on{
	opacity: 1.0;
	transform: translate(0,0);
  transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  }
}

.yu-g{
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
}

.yu-m{
  font-family: "游明朝体", "Yu Mincho", YuMincho,  serif;
}

.bbb{
  font-family: a-otf-gothic-bbb-pr6n, "游明朝体", "Yu Mincho", YuMincho, sans-serif;
  font-size: 2rem!important;

  @media screen and ( max-width:763px ){
    font-size: 1.7rem!important;
  }
}
.bbb-mini{
  font-family: a-otf-gothic-bbb-pr6n, "游明朝体", "Yu Mincho", YuMincho, sans-serif;
  font-size: 1.2rem!important;

  @media screen and ( max-width:763px ){
    font-size: 1.4rem!important;
    line-height: 2em!important;
  }
}
