@charset "utf-8";

/*----------------------------------------------------
	common

----------------------------------------------------*/

/* base_font-size 1rem = 10px */
html {
  font-size: 62.5%;
}

//clearfix @include clearfix;
@mixin clearfix {
  &:after {
    content: " ";
    clear: both;
    display: block;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "futura-pt", helvetica, arial, sans-serif; /* $base_font */
  font-weight: 400;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover{
    backface-visibility:hidden;
  }
  &:link{
    color: #000;
  }
  &:visited{
    color: #000;
  }
}

img{
  display: block;
  width: 100%;
  height: auto;
}

.yu-g{
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
}

.yu-m{
  font-family: "游明朝体", "Yu Mincho", YuMincho,  serif;
}
