@charset "UTF-8";

#inner_page{
	// background-color: #f6f6f6;
	.inner{
		width: 80%;
		margin: 100px auto 0 auto;
		.contents{
			max-width: 1300px;
			margin-bottom: 200px;
			margin: 0 auto;
			h2{
				font-size: 2.6rem;
				text-align: center;
				letter-spacing: .12em;
				margin-bottom: 80px;
			}
			.text-section{
				margin-bottom: 200px;
			}
			p.info{
				// border-top: 1px solid #000;
				padding-top: 20px;
				font-size: 1.4rem;
				line-height: 1.8em;
				letter-spacing: .1em;
				margin-bottom: 15px;
			}
			p.link{
				text-decoration: underline;
				display: inline;
				&:hover{
					a{
						color: #0021fe;
						position: relative;
						display: inline-block;
						&:hover{
							cursor: pointer;
						}
						&:before{
							position: absolute;
							content: '';
							width: 100%;
							height: 100%;
							background: rgb(235, 255, 0);
							z-index: -1;
						}
					}
				}
				a{
					transition: all 0.3s cubic-bezier(0,0,0,0);
					color: #000;
					position: relative;
					display: inline-block;
					text-decoration: underline;
					&:before{
						transition: all 0.3s ease;
						position: absolute;
						content: '';
						width: 0%;
						height: 100%;
						background: rgb(235, 255, 0);
						z-index: -1;
					}
				}
			}
			p.credit{
				border-top: 0px solid #000;
				padding-top: 20px;
				font-size: 1.2rem;
				color: rgb(80, 80, 80);
				line-height: 1.8em;
				letter-spacing: .1em;
			}
			ul{
				margin: 0 auto;
				width: 100%;
				li{
					border: 1px solid #f6f6f6;
					width: 100%;
					margin: 0 0 6% 0;
				}
			}
		}
	}
}
