@charset "UTF-8";

#inner_page{

	.inner{
		width: 80%;
		margin: 100px auto 0 auto;
		.contents{
			max-width: 1300px;
			margin-bottom: 200px;
			margin: 0 auto;
			h2{
				font-size: 2.6rem;
				text-align: center;
				letter-spacing: .12em;
				margin-bottom: 80px;
			}
			.text-section{
				margin-bottom: 200px;
			}
			p.info{
				// border-top: 1px solid #000;
				padding-top: 20px;
				font-size: 1.4rem;
				line-height: 1.8em;
				letter-spacing: .1em;
			}
			p.link{
				text-decoration: underline;
			}
			p.credit{
				border-top: 0px solid #000;
				padding-top: 20px;
				font-size: 1.2rem;
				color: rgb(80, 80, 80);
				line-height: 1.8em;
				letter-spacing: .1em;
			}
			ul{
				margin: 0 auto;
				width: 100%;
				margin-bottom: 12%;
				li{
					width: 100%;
					margin: 0 0 6% 0;
					a{
						.img-wrapper{
							img{
								&:hover{
									opacity: .2;
								}
							}
						}
					}
				}
			}
		}
	}
}
